[package]
name = "model"
description = "Defines the shared common data models."
authors.workspace = true
edition.workspace = true
license.workspace = true
version.workspace = true

[dependencies]
blake3 = { workspace = true }
chrono = { workspace = true }
