/* Copyright 2026 Kevin Fisher. All rights reserved. *
 * SPDX-License-Identifier: GPL-3.0-only             */

/* 
 * COLORS
 *
 * NOTE: The following is based of the Nord color palette.
 *       https://www.nordtheme.com/
 *
 *************************************************************************************************/

:root {
    --nord-00: #2E3440;
    --nord-01: #3B4252;
    --nord-02: #434C5E;
    --nord-03: #4C566A;
    --nord-04: #D8DEE9;
    --nord-05: #E5E9F0;
    --nord-06: #ECEFF4;
    --nord-07: #8FBCBB;
    --nord-08: #88C0D0;
    --nord-09: #81A1C1;
    --nord-10: #5E81AC;
    --nord-11: #BF616A;
    --nord-12: #D08770;
    --nord-13: #EBCB8B;
    --nord-14: #A3BE8C;
    --nord-15: #B48EAD;
    --color-accent-base: #8FBCBB;
    --color-accent-text: #144040;
    --color-accent-border: #699594;
    --color-accent-hover: #719D9C;
    --color-background-base: #2E3440;
    --color-background-text: #00FF00;
    --color-background-border: #111620;
    --color-background-hover: #00FF00;
    --color-danger-base: #BF616A;
    --color-danger-text: #380002;
    --color-danger-border: #963C47;
    --color-danger-hover: #9E434E;
    --color-primary-base: #88C0D0;
    --color-primary-text: #034351;
    --color-primary-border: #6299A8;
    --color-primary-hover: #69A0B0;
    --color-secondary-base: #81A1C1;
    --color-secondary-text: #0D2A44;
    --color-secondary-border: #5C7B9A;
    --color-secondary-hover: #6483A1;
    --color-selection-base: #5E81AC;
    --color-selection-text: #ECEFF4;
    --color-selection-border: #00FF00;
    --color-selection-hover: #00FF00;
    --color-subtext-base: #D8DEE9;
    --color-subtext-text: #00FF00;
    --color-subtext-border: #00FF00;
    --color-subtext-hover: #00FF00;
    --color-success-base: #A3BE8C;
    --color-success-text: #2C4214;
    --color-success-border: #7D9767;
    --color-success-hover: #859F6E;
    --color-surface-0-base: #2E3440;
    --color-surface-0-text: #A5ACBB;
    --color-surface-0-border: #111620;
    --color-surface-0-hover: #161C26;
    --color-surface-1-base: #3B4252;
    --color-surface-1-text: #B5BDD1;
    --color-surface-1-border: #1C2231;
    --color-surface-1-hover: #222837;
    --color-surface-2-base: #434C5E;
    --color-surface-2-text: #BFC9DF;
    --color-surface-2-border: #232B3C;
    --color-surface-2-hover: #293243;
    --color-surface-3-base: #4C566A;
    --color-surface-3-text: #C9D5ED;
    --color-surface-3-border: #2C3547;
    --color-surface-3-hover: #323B4E;
    --color-text-base: #ECEFF4;
    --color-text-text: #00FF00;
    --color-text-border: #00FF00;
    --color-text-hover: #00FF00;
}

* {
    color: var(--color-text-base);
}

/* 
 * GTK (built-in widgets)
 *
 *************************************************************************************************/

entry {
    background-color: var(--color-surface-2-base);
    border-color: var(--color-surface-2-border);
}

entry:focus-within {
    outline-color: var(--color-primary-base);
}

entry.invalid {
    outline-color: var(--color-danger-base);
    outline-offset: -2px;
    outline-width: 2px;
}

entry.invalid:focus-within {
    outline-color: var(--color-primary-base);
    border: 0;
}

listview {
    background-color: transparent;
}

window.background {
    background-color: var(--color-surface-0-base);
}

progressbar {
}

progressbar > trough {
    background-color: var(--color-surface-2-base);
    border: 1px solid var(--color-surface-2-border);
    min-height: 16px;
}

progressbar > trough > progress {
    background-color: var(--color-secondary-base);
    border-radius: 1.5px;
    border-width: 0;
    min-height: 16px;
}

progressbar.horizontal > trough > progress { 
    margin: 0;
}

button {
    background-image: none;
}

button.danger {
    background-color: var(--color-danger-base);
    border-color: var(--color-danger-border);
}

button.danger:active {
    background-color: var(--color-danger-base);
}

button.danger:hover {
    background-color: var(--color-danger-hover);
}

button.danger label, button.danger image {
    color: var(--color-danger-text);
}

button.default {
    background-color: var(--color-surface-3-base);
    border-color: var(--color-surface-3-border);
}

button.default:hover  {
    background-color: var(--color-surface-3-hover);
}

button.default:hover:active {
    background-color: var(--color-surface-3-base);
}

button.default label, button.default image {
    color: var(--color-surface-3-text);
}

button.primary  {
    background-color: var(--color-primary-base);
    border-color: var(--color-primary-border);
}

button.primary:hover {
    background-color: var(--color-primary-hover);
}

button.primary:hover:active {
    background-color: var(--color-primary-base);
}

button.primary label, button.primary image {
    color: var(--color-primary-text);
}

button.secondary  {
    background-color: var(--color-secondary-base);
    border-color: var(--color-secondary-border);
}

button.secondary:hover {
    background-color: var(--color-secondary-hover);
}

button.secondary:hover:active {
    background-color: var(--color-secondary-base);
}

button.secondary label, button.secondary image {
    color: var(--color-secondary-text);
}

button.success  {
    background-color: var(--color-success-base);
    border-color: var(--color-success-border);
}

button.success:hover {
    background-color: var(--color-success-hover);
}

button.success:hover:active {
    background-color: var(--color-success-base);
}

button.success label, button.success image {
    color: var(--color-success-text);
}

dropdown button {
    background-color: var(--color-surface-2-base);
    border-color: var(--color-surface-2-border);
}

dropdown popover contents {
    background-color: var(--color-surface-2-base);
    border-color: var(--color-surface-2-border);
}

dropdown popover listview > row.activatable:selected,
dropdown popover listview > row.activatable:selected:hover {
    background-color: var(--color-surface-1-base);
}

/* 
 * APP (custom widgets)
 *
 *************************************************************************************************/

@keyframes rotateAnimation {
    to {
        -gtk-icon-transform: rotate(1turn);
    }
}

.drive-list-widget row:hover {
    background-color: transparent;
}

.drive-widget {
    background-color: var(--color-surface-1-base);
    border: 1px solid var(--color-surface-1-border);
}

.drive-widget-error-message {
    background-color: var(--color-surface-3-base);
    border: 1px solid var(--color-surface-3-border);
}

.drive-widget-icon-container {
    border-right: 1px solid var(--color-surface-1-border);
}

.drive-widget-icon-container.failed {
    background-color: var(--color-danger-base);
}

.drive-widget-icon-container.idle,
.drive-widget-icon-container.copying {
    background-color: var(--color-secondary-base);
}

.drive-widget-icon-container.success {
    background-color: var(--color-success-base);
}

.drive-widget-icon.failed {
    color: var(--color-danger-text);
}

.drive-widget-icon.idle,
.drive-widget-icon.copying {
    color: var(--color-secondary-text);
}

.drive-widget-icon.copying {
    animation: rotateAnimation 1s infinite;
    animation-timing-function: linear;
}

.drive-widget-icon.success {
    color: var(--color-success-text);
}

.drive-widget-content {
    border-bottom: 1px solid var(--color-surface-1-border);
    border-top: 1px solid var(--color-surface-1-border);
}

.drive-widget-footer {
    font-family: monospace;
}

.drive-widget-task-label {
    font-family: monospace;
    font-size: 10px;
    text-transform: uppercase;
}

.drive-widget-label {
    font-size: 16px;
    font-weight: bold;
}

